RewriteEngine On
RewriteRule ^เกี่ยวกับเรา\.html$ /free/aboutUs.php [L]
RewriteRule ^ตะกร้าสินค้า\.html$ /free/cart.php [L]
RewriteRule ^หมวดหมู่-([^-]*)-(.*)-([^-]*)\.html$ /free/category.php?category_id=$1&category_name=$2&page=$3 [L]
RewriteRule ^ติดต่อเรา\.html$ /free/contactUs.php [L]
RewriteRule ^วิธีการสั่งซื้อ\.html$ /free/how2order.php [L]
RewriteRule ^รายการสินค้า-([^-]*)\.html$ /free/index.php?page=$1 [L]
RewriteRule ^คำสั่งซื้อ\.html$ /free/order.php [L]
RewriteRule ^แจ้งการชำระเงิน\.html$ /free/payment.php [L]
RewriteRule ^สินค้า-([^-]*)-(.*)\.html$ /free/product.php?id=$1&name=$2 [L]
RewriteRule ^โปรโมชั่น\.html$ /free/promotion.php [L]
RewriteRule ^เว็บบอร์ด-([^-]*)-(.*)\.html$ /free/reply.php?id=$1&subject=$2 [L]
RewriteRule ^ค้นหาสินค้า\.html$ /free/search.php [L]
RewriteRule ^ค้นหาสินค้า-(.*)-([^-]*)\.html$ /free/search.php?search=$1&page=$2 [L]
RewriteRule ^จัดส่ง\.html$ /free/shipping.php [L]
RewriteRule ^เว็บบอร์ด-([^-]*)\.html$ /free/webboard.php?page=$1 [L]
