RewriteEngine On
RewriteCond %{HTTP_HOST} ^shop2.localhost:81/free\.com [NC]
RewriteRule ^(.*) http://localhost:81/free/$1 [L,R=301]
RewriteRule ^เกี่ยวกับเรา\.html$ /aboutUs.php [L]
RewriteRule ^ตะกร้าสินค้า\.html$ /cart.php [L]
RewriteRule ^หมวดหมู่-([^-]*)-(.*)-([^-]*)\.html$ /category.php?category_id=$1&category_name=$2&page=$3 [L]
RewriteRule ^ติดต่อเรา\.html$ /contactUs.php [L]
RewriteRule ^วิธีการสั่งซื้อ\.html$ /how2order.php [L]
RewriteRule ^รายการสินค้า-([^-]*)\.html$ /index.php?page=$1 [L]
RewriteRule ^คำสั่งซื้อ\.html$ /order.php [L]
RewriteRule ^แจ้งการชำระเงิน\.html$ /payment.php [L]
RewriteRule ^สินค้า-([^-]*)-(.*)\.html$ /product.php?id=$1&name=$2 [L]
RewriteRule ^โปรโมชั่น\.html$ /promotion.php [L]
RewriteRule ^เว็บบอร์ด-([^-]*)-(.*)\.html$ /reply.php?id=$1&subject=$2 [L]
RewriteRule ^ค้นหาสินค้า\.html$ /search.php [L]
RewriteRule ^ค้นหาสินค้า-(.*)-([^-]*)\.html$ /search.php?search=$1&page=$2 [L]
RewriteRule ^จัดส่ง\.html$ /shipping.php [L]
RewriteRule ^เว็บบอร์ด-([^-]*)\.html$ /webboard.php?page=$1 [L]